@font-face
{
  font-family: 'pixel-b';
  src: url("font/PixelMplus12-Bold.ttf");
  image-rendering: pixelated;
}
@font-face 
{
  font-family: 'pixel';
  src: url("font/PixelMplus12-Regular.ttf");
  image-rendering: pixelated;
}
/*フォント関連*/
body
{
    font-family: 'pixel-b';
    background-color: #0e0e21;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: -100;
}
.title
{
  top: -16px;
  z-index: 100;
  display: inline-block;
  background: white;
  color: #000000;
  width: 1425px;
  margin-left: -10px;
  margin-top: -16px;
  position: absolute;
  height: 160px;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
/*ヘッダーとかがある一番上にある白い帯です*/
.logo
{
  height:129px;
  width:138px;
  z-index: 1000;
  left: 24px;
  top: 24px;
  position: relative;
}
.header
{
  position: absolute;
  left: 250px;
  top: 30px;
  height: 115px;
  width: 1080px;
  image-rendering: pixelated;
}
/* OOのおすすめとかがあるtab設定*/
.tab {
  font-family: 'pixel-b';
  font-weight: bold;
  display: flex;
  height: 3rem;
  margin: 0 auto;
  width: 1000px;
  font-size: 40px;
  padding: 20px;
  position: absolute;
  left: 256px;
  top: 140px;
}
.tab > li {/*親階層のみ幅を25%にする*/
  width: 25%;
}
/*全てのリスト・リンク共通*/
.tab li {
  list-style: none;
  position: relative;
  z-index: 10;
}
.tab li a {
  color: white;
  display: inline-block;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
  z-index: 10;
}
.tab li b {
  color: gray;
  display: inline-block;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
  z-index: 10;
}
.tab li b1 {
  color: gray;
  display: inline-block;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
  z-index: 10;
}
/*子階層以降共通*/
.tab li li {
  height: 0;
  left: -40px;
  font-size: 22px;
  overflow: hidden;
  transition: .5s;
  width: 110%;
  z-index: 10;
}
/* tab li li a 系統 */
.tab li li a 
{
  border-top: 1px solid #eee;
  z-index: 10;
}
.tab li li b 
{
  border-top: 1px solid #eee;
  border-bottom: 1px solid gray;
  z-index: 10;
}
.tab li li b1 
{
  border-top: 1px solid gray;
  z-index: 10;
}
/* tab li li a 系統終わり */
.tab li:hover > ul > li {
  height: 3rem;
  overflow: visible;
  z-index: 10;
}
/*tab設定ここまで*/
.sidebar
{
  left: 0px;
  top: 84px;
  height: 500%;
  width: 240px;
  background-color: gold;
  position: absolute;
}

.sponsorlink
/*スポンサーリンク(笑)*/
{
  top: 120px;
  font-size: 14px;
  text-align: center;
  height: 14px;
  display: table;
  position: relative;
}
.sponsorimage
{
  display: inline-block;
  background-color: white;
  padding-block: 50px;
  font-size: 20px;
  left: 20px;
  top: 136px;
  position: relative;
  text-align: center;
  width: 200px;
  display: table;
}
.matome
/*これは 世界のドット絵とかの物*/
{
  display: block;
  width: 280px;
  height: 115.6px;
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 1;
  top: 400px;
}
.matome-text
/*上記のものの中にある 世界のドット絵 とかの文字とかの設定 ここら辺は試行錯誤して作ったのでごちゃごちゃ*/
{
  display: block;
  color: black;
  position: relative;
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 32px;
  left: 0px;
  bottom: 80px;
  z-index: 2;
  height: 0;
  top: 320px;
}
.relative
/*多分使ってないけれど使っているところがあったら嫌だから残している物*/
{
  position: relative;
}
.tab-below-space
/*タブよりしたのスペースです*/
{
  z-index: -0;
  left: 240px;
  width: 1000px;
  bottom: 315px;
  height: 1000px;
  position: relative;
  bottom: 48px;
}
.tab-below-space-cover
/*まとめの当たり判定バグ防止のものです*/
{
  z-index: 100;
  position: absolute;
  top: 160px;
  width: 1000px;
  height: 240px;
}
.matome-anchor
/*日本関連の旗まとめ の アンカータグに引っ付ける奴*/
{
  display: inline-block;
  width: 170px;
  height: 170px;
}
.image
/* 日本関連の旗まとめ みたいな感じで画像を表示しているところのスタイル */
{
  display: block;
  position: relative;
  width: 170px;
  height: auto;
  text-align: center;
  background-color: white;
  image-rendering: pixelated;
}
/*そのまんま 日本国旗 って書いてあるのとかこれ*/
.image-text
{
  display: block;
  position: relative;
  top: 400px;
  color: white;
  font-size: 18px;
  text-align: center;
  height: 40px;
}
/*前にあったものの亜種(*/
.imageanchor
{
  display: inline-block;
  position: relative;
  width: 170px;
}
/*<div>で仕切られたimage のbase*/
.imagebase
{
  top: 400px;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  background-color: white;
  padding: 5px;
  width: 170px;
  height: 170px;
}
.search
/*検索の位置*/
{
  position: absolute;
  top: 400px;
  left: 10px;
}
/*ここら辺は　index.php のコメント用の formや sakuhintoukou.php関連のもの*/
.image-ul
{
  position: relative;
  top: -300;
}
.form
{
  position: relative;
  left: 24px;
  top: 400px;
}
.form-title
{
  font-size: 40px;
  color: white;
  position: relative;
  left: 24px;
  top: 400px;
}
.form-subtitle
{
  font-size: 24px;
  color: white;
  position: relative;
  left: 24px;
  top: 400px;
}
.form-text
{
  font-family: 'pixel';
  font-size: 24px;
  color: black;
  position: relative;
  left: 24px;
  top: 410px;
  width: 720px;
}
.form-button
{
  font-family: 'pixel';
  font-size: 24px;
  position: relative;
  height: 28px;
  left: 24px;
  left: 24px;
  top: 410px;

}
.form-list
{
  font-family: 'pixel';
  font-size: 24px;
  position: relative;
  left: 24px;
  top: 410px;
  color: white;
}
.form-description
{
  font-family: 'pixel-b';
  font-size: 24px;
  color: white;
  position: relative;
  left: 24px;
  left: 24px;
  top: 410px;
}
.form-file
{
  font-family: 'pixel';
}
